.container{
    padding: 20px;
    background-color: rgb(253, 253, 255);
    width: 600px;
    border-radius: 1cqi;
    
    
}

.form-control{
    width: 500px;
}
body{
    background-color: rgba(35, 115, 186, 0.244);
    height:800px ;
    

}