<section class="vh-100" style="background-color: #abc8e8;">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-6 d-none d-md-block">
              <img src="\assets\img\pharm5.jpg" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem ; " width="800px" height="500px" />
            </div>
            <div class="col-md-8 col-lg-6 d-flex align-items-center">
              <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(220, 72%, 32%)">
                your Health <br />
                <span style="color: hsl(218, 81%, 75%)"> Is our priorty </span>
              </h1>
              <p> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>